/* src/components/AdminHeader.css */

.admin-header {
    background-color: #0047ab; /* Color de fondo del header */
    color: white;
    padding: 10px;
  }
  
  .admin-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .admin-header h1 {
    margin: 0;
  }
  
  .admin-header nav {
    display: flex;
    gap: 20px;
  }
  
  .admin-header a, .admin-header button {
    color: white;
    text-decoration: none;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  .admin-header a:hover {
    text-decoration: underline; /* Efecto al pasar el mouse */
  }
  
  .admin-header button:hover {
    text-decoration: underline; /* Efecto al pasar el mouse */
  }
  