.footer {
  background-color: #003366; /* Color de fondo */
  color: white; /* Color del texto */
  padding: 20px;
  text-align: center; /* Centrar el texto */
  
}

.social-container {
  margin-bottom: 20px; /* Espacio entre redes sociales y enlaces legales */
}

.social-icons a {
  color: white; /* Color de los iconos */
  margin: 0 10px; /* Espacio entre iconos */
  text-decoration: none; /* Sin subrayado */
}

.legal-container ul {
  list-style-type: none; /* Sin viñetas */
  padding: 0; /* Sin relleno */
}

.legal-container li {
  margin: 5px 0; /* Espacio entre enlaces legales */
}

.footer-divider {
  border: none; /* Sin borde */
  height: 1px; /* Altura de la línea */
  background-color: white; /* Color de la línea */
  margin: 20px 0; /* Espacio vertical */
}

/* Sección de contacto */
.contact-info {
  margin-top: 20px; /* Espacio encima de la sección de contacto */
  display: flex; /* Flexbox para disposición horizontal */
  justify-content: space-around; /* Espacio uniforme entre elementos */
  align-items: center; /* Centrar verticalmente */
  flex-wrap: wrap; /* Para que los elementos se ajusten en pantallas pequeñas */
}

.contact-info h3 {
  margin-bottom: 10px; /* Espacio debajo del título */
  width: 100%; /* Para que el título ocupe toda la línea */
}

.contact-info p {
  margin: 5px 10px; /* Espacio entre datos de contacto */
  display: flex; /* Flexbox para ícono y texto en la misma línea */
  align-items: center; /* Centrar verticalmente los íconos y texto */
}

.contact-info p FontAwesomeIcon {
  margin-right: 5px; /* Espacio entre ícono y texto */
}
